@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Roboto:wght@300;400;500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: var(--roboto);
}

:root {
  --oswald: 'Oswald', sans-serif;
  --roboto: 'Roboto', sans-serif;
}

body {
  width: 100vw;
  height: 100%;
}

header {
  /* position: relative; */
}
header .top-nav {
  background-color: #00129f;
}

.top-nav .top-contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
  height: 50px;
  align-items: center;
}
.top-contacts a {
  display: flex;
  flex-direction: row;
  color: #fff;

  justify-content: space-between;
}
a .image {
  width: 14px;
  margin-right: 10px;
}
a p {
  font-size: 14px;
}

header nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  position: relative;
  top: 0px;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  width: 120px;
  overflow: hidden;
}
.logo img {
  max-width: 100%;
}
.menu-icon {
  background-image: url('../images/icons/menu_FILL0_wght400_GRAD0_opsz24.png');
  width: 30px;
  height: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  /* position: absolute;
  right: 20px; */
  cursor: pointer;
  transition: all 0.35s;
}

.menu-icon.active {
  background-image: url('../images/icons/menu_open_FILL0_wght400_GRAD0_opsz24.png');
}

nav .menu {
  position: absolute;
  height: 100px;
  width: 100%;
  top: 100%;
  left: 0;
  background-color: #fff;
  display: none;
  padding: 20px 40px;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  transition: all 0.5s;
}

nav .menu.active {
  height: auto;
  display: unset;
}
.menu p {
  margin-bottom: 20px;
}
.menu p.active {
  display: inline;
  border-bottom: 2px solid rgba(0, 23, 156, 0.8);
  width: fit-content;
}

.menu p a {
  font-size: 16px;
  font-weight: 500;
  color: #140a2e;
}
.menu ul {
  font-size: 16px;
  font-weight: 500;
  color: #140a2e;
}

.menu ul li {
  display: none;
  list-style: none;
  margin: 20px 0;
  margin-left: 20px;
}
.menu ul:hover li {
  display: flex;
}
main {
  height: 200px;
}
main .land-img {
  background-image: url('../images/Haram2.jpg');
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
}
.land-img h1,
.land-img p {
  color: ;
}

main .services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 40px;
}
.services h1 {
  text-transform: uppercase;
  color: #140a2e;
  line-height: 34px;
  margin: 0 0 20px;
}
.services p {
  text-align: center;
}

.services .services-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.services-container .img-container {
  position: relative;
  max-width: 400px;
  margin: 30px 10px;
}
.img-container img {
  opacity: 1;
  display: block;
  width: 100%;
  transition: 0.5s ease;
  backface-visibility: hidden;
  margin: 0 0 20px;
}
.img-container .middle-txt h4 {
  text-align: center;
}
.img-container .middle-txt p {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.01);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.img-container:hover img {
  opacity: 0.3;
}
.img-container:hover .middle-txt p {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
/* Small Tablets */
@media screen and (min-width: 620px) {
}

/*Large Tablets and Laptops   */
@media screen and (min-width: 960px) {
}

/* Desktop styles */
@media screen and (min-width: 1200px) {
}
